[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MR.RGM"]
	path = MR.RGM
	url = https://github.com/bitansa/mr.rgm
[submodule "iPEB"]
	path = iPEB
	url = https://github.com/bitansa/ipeb
